@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Nunito:wght@300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
    padding-bottom: 100px;
}
main section {
    text-align: center;
}
#background {
    background-color: #5DABDE;
    height: 725px;
    margin-bottom: 100px;
}
body {
    background-color: white;
    font-family: 'Nunito', 'Arial', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:#313763;
}
nav a:hover {
    background-color:#5DABDE;
    color: #313763;
}
.book, .join {
    background-color:#D0383C;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #F3B235;
    color: #313763;
}

.msg {
    background-color: #313763;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 150px;
}
footer {
    background-color: #D0383C;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: #313763;
    font-family: 'Nerko One', 'Tahoma', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #313763;
}
.msg h2 {
    color: white;
    font-family: 'Nerko One', 'Tahoma', sans-serif;
    font-size: 2em;
}
.msg p {
    color:white;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #5DABDE;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.river-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #5DABDE;
}
main section img {
    box-sizing: border-box;
}