@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand:wght@400;500&display=swap');

.content {
    max-width: 1600px;
    margin: 0 auto;
}

div.center {
    text-align: center;
}

.logo {
    width: 180px;
    height: 180px;
    margin-bottom: 5px;
 }


 .navbar a {
    display: inline-block;
    color: #b9314f;
    text-decoration: none;
    font-size: 17px;
    width: 300px; /* Three links of equal widths */
    text-align: center;
    font-family: "quicksand", Arial, Helvetica, sans-serif;
    
  }
  .topnav{
    text-align: center;
  }
  .navbar a:hover {
    color: #D5A18E;
  }
  #hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 15px;
  }
  #hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
  }
  #hero-img {
    width: 100%;

  }
 
  #hero-msg, #hero-msg-2 {
    background: rgba(225, 222, 227, 0.8);
    text-align: center;
    grid-column : 1/4;
    grid-row: 2/3;
    margin: auto;
    padding: 30px;
    margin-top: -120px;
    border-radius: 3%;
    
 }
  .home-title, .services-title {
    color: #b9314f;
    opacity: .8;
    font-size: 3.5em;
    font-family: "Playfair Display", serif;
    
  }

.welcome-img {
  opacity: .8;
  width: 60%;
  margin-top: 100px;
  position: relative;
}
.welcome-msg {
  margin-top: 165px;
  margin-left: -60px;
}
 
.welcome-msg, .services-msg {
  display: inline-block;
  position: absolute;
  background: #E1dee3;
  
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 80px;
  padding-top: 5px;
  width: 500px;
  height: 250px;
  
}
.welcome-msg h1,.services-msg h1 {
  font-family: "Playfair Display", serif;
  color: #b9314f;
  font-size: 2em;
  margin-bottom: 0px;
  margin-top: 20px;
  opacity: .8;
}
.welcome-msg p, .services-msg p {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  margin-top: 10px;
  color: #375472;
  
}
.button-box {
  text-align: left;
  padding-right: 100px;
  font-family: "Playfair Display", serif;

}
.contact-us {
  background-color: #b9314f;
  opacity: .8;
  color: #E1dee3;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 30px;

}
.testimonial-msg h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #b9314f;
  font-size: 1.8em;
  margin-bottom: 10px;
}
.testimonial-msg h3 {
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #b9314f;
  font-size: 1.5em;
  margin-top: 5px;
}
.testimonial-msg p {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: .9em;
  padding: 10px 175px;
  color: #D5A18E;
}
.button-box-test {
  text-decoration: none;
  padding: 10px 100px;
  text-align: center;
}

.test-button {
  background-color: #b9314f;
  opacity: .8;
  color: #E1dee3;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 30px;

}
.services-button {
  background-color: #b9314f;
  opacity: .85;
  color: #E1dee3;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 30px;
  font-family: "Quicksand", sans-serif;
}
.services-home-img {
  position: relative;
  width: 60%;
  margin-left: 510px;
  z-index: -1;
}
.testimonial-msg {
  margin-top: 100px;
  margin-bottom: 100px;
}
.services-msg {
  margin-top: 65px;
  
}
footer {
  background: rgba(225, 222, 227, 0.8);
  margin-top: 100px;
  text-align: center;
  
  
}
footer h2 {
  font-family: "Quicksand", serif;
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
  color: #b9314f;
  opacity: .8;
  margin-bottom: 10px;
}
.social {
  text-align: center;
  
}
  
footer .social img {
  width: 40px;
  padding: 5px;

}

.foot-nav a {
  display: inline-block;
  
  color: #375472;
  text-decoration: none;
  font-size: 17px;
  width: 150px; /* Three links spaced evenly */
  text-align: center;
  font-family: "quicksand", Arial, Helvetica, sans-serif;
  margin: 20px;
}
footer p{
  font-family: "Quicksand",sans-serif;
  color: #375472;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 30px;
  
}
.foot-nav a:hover {
  color: #b9314f;
}
.contact-us:hover, .test-button:hover, .services-button:hover {
  background-color: rgba(213, 161, 142, 0.7);
  color: #b9314f;
}


/*Page 2 Services Styles*/
#hero-msg-2 {
  /*center text in image*/
  margin-top: -80px; 
}
.services-title {
  margin: 0;
  font-size: 6em;
}


.services-intro h3 {
  font-family: "Playfair Display", serif;
  color: #b9314f;
  text-align: center;
  font-size: 2em;
  margin-top: 80px;
  margin-bottom: 20px;
 
}
.services-intro h1 {
  font-family: "Playfair Display", serif;
  color: #b9314f;
  text-align: center;
  font-size: 3em;
  margin: 0;
}
.services-intro p {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: #b9314f;
  font-size: 1.5em;
  padding: 60px;
  margin: 0px 150px 0px 150px;
  
}
.services-intro h2 {
  font-family: "Quicksand", serif;
  text-align: center;
  color: #b9314f;
  font-size: 1.5em;
  margin-top: 0;
}
.services-img1, .services-img2 {
  width: 100%;
}
.process1, .process2, .process3, .process4, h3 {
  font-family:"Playfair Display", serif;
  color: #b9314f;
  text-align: center;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 0px;
}
.process1, .process2, .process3, .process4, p {
  font-family: "Quicksand", sans-serif;
  color: #375472;
  text-align: center;
  font-size: 1.1em;
  margin-top: 10px;
  padding: 30px;
  padding-top: 10px;
}

.process1, .process2, .process3, .process4 {
  background: #E1dee3;
  padding: 20px;
  margin-top: 0px;
  height: 288px;
  width: 400px;

}
.call-to-action h3 {
  font-family: "Playfair Display", serif;
  color: #b9314f;
  text-align: center;
  font-size: 2em;
  margin-top: 60px;
  margin-bottom: 20px;
  
}
.call-to-action h1 {
  font-family: "Playfair Display", serif;
  color: #b9314f;
  font-size: 3em;
  text-align: center;
}
.contact-us {
  font-family: "Quiksand", sans-serif;
  font-size: .5em;
}
.button-box-page2 {
  text-align: center;
  padding-right: 100px;
  font-family: "Playfair Display", serif;
  padding: 0;
  font-size: 3em;

}

#services-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 20px;

}
.services-intro {
  grid-column: 1/4;
  margin-bottom: 60px;
  text-align: center;
  
}

.services-img1 {
  grid-column: 1/3;
  width: 100%;
  margin-left: -150px;
  padding-left: 5px;
  height: 100%;
  
  

}
.process1 {
 margin-left: -130px;

  
}
.process2 {
  margin-left: -130px;
  margin-top: 35px;

}
.process3 {
  margin-top: 60px;
  margin-bottom: 35px;
}
.services-img2 {
  grid-column: 2/4;
  margin-top: 60px ;
  margin-left: 20px;
  height: 92.2%;
}
.call-to-action {
  grid-column: 1/4;
  margin-top: 40px;
}
.process3 h3 {
  margin-top: 50px;
}
.process4 h3 {
  margin-top: 50px;
}



/* Responsive to smaller screen*/

@media screen and (max-width: 900px) {
  #hero, .home-grid {
    display: block;
    height: auto;
  }
  #hero-msg {
    background: none;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 10px;
  }
  img.welcome-img {
     
   display: none;
  }
  div .welcome-msg, .services-msg{
    width: 100%; 
    height: 300px;
    margin: 0; 
    padding-bottom: 5px;
    padding: 0; 
    position: relative;
    
  }

 .welcome-msg h1 {
  font-size: 22px;
  padding-left: 25px;
  padding-right: 25px;

 }
 .welcome-msg p {
  font-size: 16px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  margin-bottom: 16px;

 }
 .testimonial-msg {
  display: inline-block;
  margin: 0;

 }
.testimonial-msg h2 {
  margin-top: 60px;
}
.testimonial-msg p {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.button-box-test {
  padding: 0;
  padding-bottom: 80px;
}
.services-msg h1 {
  font-size: 22px;
  padding-left: 25px;
  padding-right: 25px;
}
.services-msg p {
  font-size: 16px;
  padding-left: 25px;
  padding-right: 25px;
}
.button-box {
  padding: 0;
  padding-left: 25px;
}
.services-home-img {
 margin-left: 0;
 width: 100%;
 display: block;
 margin-top: 40px;
 
}

footer {
  margin-top: 0px;
}
.foot-nav a {
  width: 80px;
}
.navbar a {
  width: 130px;
}
.services-msg {
  position: relative;
}
footer h2 {
  margin-top: 0;
}
}


